body {}
a.underline {}
a.underline::after {}
a.underline:hover {}
a.underline:hover:after
a.underline::after {}
a.underline:hover:after {}
a.underline::after {}
a.underline:hover:after {}
a.underline::after {}

body {
    font-family: "Roboto", sans-serif;
    background: black;

}

a.underline {
    font-size: 6vw;
    text-decoration: none;
    font-weight: bold;
    color: #e76f51;
    position: relative;
    transition: color 0.8, text-shadow 0.8s;
}

a.underline::after {
    content: "";
    position: absolute;
    bottom: 0px;
    background: #2a9d8f;
    height: 20%;
    width: 0%;
    z-index: -1;
    transition: width 0.8s, opacity 0.8s, box-shadow 0.8s;
    border-radius: 100px;
    opacity: 0;
    box-shadow: 0 0 16px rgba(42, 157, 143, 0);
}

a.underline:hover {
    color: #f4a261;
    text-shadow: 0 0 16px rgba(244, 162, 97, 0.64);
}

a.underline:hover:after {
    width: 100%;
    opacity: 1;
    box-shadow: 0 0 16px rgba(42, 157, 143, 0.88);
}

a.underline_a:hover:after {
    right: auto;
    left: 0vh;
}

a.underline_a:hover:after {
    right: auto;
    left: 0;
}

a.underline_c:after {
    left: 0;
    right: 0;
    margin: 0 auto;
}


